<nav class="navbar navbar-expand-lg bg-body">
    <div class="container-fluid">
        <span class="navbar-brand m-0 p-0">
            <img src="/img/logo.png" height="32" alt="Inamujer Consulado Contigo" height="80">
        </span>

        <div class="d-block d-lg-none form-check form-switch px-3">
            <input class="form-check-input theme-small theme" type="checkbox" role="switch" id="theme-small" name="theme" onclick="changeTheme(this.checked)">
            <label class="form-check-label" for="theme-small">Tema</label>
        </div>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="bi bi-list"></i>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="navbar">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link nav-link-hover <%= page == 'home' ? 'active':'' %>" href="/">Inicio</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link nav-link-hover <%= page == 'cities' ? 'active':'' %>" href="/networks">Redes
                        de apoyo</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link nav-link-hover <%= page == 'consulates' ? 'active':'' %>"
                        href="/consulates">Consulado</a>
                </li>

                <li class="nav-item dropdown">
                    <% const info = (page == 'warningSigns' || page == 'genderViolence' || page == 'orientation') ? 'active' : '' %>
                    <a class="nav-link dropdown-toggle nav-link-hover <%= info %>" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Información
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item <%= page == 'warningSigns' ? 'active':'' %>" href="/warning_signs">Señales de alerta</a></li>
                      <li><a class="dropdown-item <%= page == 'genderViolence' ? 'active':'' %>" href="/gender_violence">Violencia de género</a></li>
                      <!-- <li><hr class="dropdown-divider"></li> -->
                      <li><a class="dropdown-item <%= page == 'orientation' ? 'active':'' %>" href="/orientation">Asistencia y Orientación</a></li>
                    </ul>
                  </li>

                <li class="nav-item">
                    <a class="nav-link nav-link-hover <%= page == 'chat' ? 'active':'' %>"
                        href="/chat">Atención en linea</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link nav-link-hover <%= page == 'operator' ? 'active':'' %>"
                        href="/operator">Operadora</a>
                </li>
            </ul>

            <div class="d-none d-lg-block form-check form-switch px-3">
                <input class="form-check-input theme" type="checkbox" role="switch" id="theme-large" name="theme" onclick="changeTheme(this.checked)">
                <label class="form-check-label" for="theme-large">Tema</label>
            </div>
        </div>
    </div>
</nav>

<script>
    if (localStorage.getItem('theme') === 'dark') {
        document.getElementById('theme-small').checked = true
        document.getElementById('theme-large').checked = true
    }else{
        document.getElementById('theme-small').checked = false
        document.getElementById('theme-large').checked = false
    }
</script>