<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <%- include('includes/head') %>
    <script src="/js/change.country.js"></script>
</head>

<body style="background-color: #e6e6e6;">
    <%- include('includes/nav') %>

    <aside class="container-fluid d-flex justify-content-between align-items-center bg-primary py-2">
        <a href="/networks/<%= country %>" class="btn btn-primary text-nowrap"><i class="bi bi-arrow-left"></i> Regresar</a>

        <select class="form-select flex-fill mx-3 text-primary border-primary" aria-label="Seleccione una opción" autocomplete="off"
            name="country" id="country" onchange="specifyCountry(this.value, 'consulates')">
            <option value="">Seleccione un país</option>
            <%- include('includes/countrySelector') %>
        </select>
    </aside>

    <main class="container-fluid px-2 px-md-5 py-3">
        <header class="text-center">
            <h1 class="display-3 text-primary">Consulado General de Venezuela</h1>
            <p class="lead fw-normal">
                <% if (data.length === 0 && country !== "") { %>
                    <i class="bi bi-exclamation-triangle text-primary"></i> No se encontraron consulados en el país seleccionado <i class="bi bi-exclamation-triangle text-primary"></i>
                <% }else if (data.length === 0 && country === "") { %>
                    <i class="bi bi-info-square text-primary"></i> Debe de seleccionar un país para poder ver los consulados disponible <i class="bi bi-info-square text-primary"></i>
                <% } %>
            </p>
        </header>


        <article class="row justify-content-center p-0 m-0">
            <% if (data.length !== 0) { for (const element of data[0].consulates) { %>
                <section class="col-12 col-md-6 col-lg-4 py-2">
                    <article class="card card-body h-100">
                        <header class="text-center">
                            <i class="text-primary display-1 bi bi-bank2"></i>
                            <h5 class="card-title h3"><%= element.city %></h5>
                        </header>
                        <ul class="text-primary fw-semibold">
                            <li>Dirección: 
                                <span class="text-dark fw-normal"><%= element.address %></span>
                            </li>
                            <li>Teléfono: 
                                <span class="text-dark fw-normal"><%= element.phone %></span>
                            </li>
                            <li>Correo: 
                                <span class="text-dark fw-normal"><%= element.email %></span>
                            </li>
                        </ul>
                    </article>
                </section>
            <% }}else{ %>
                <p class="text-center">Para la demostración seleccione Venezuela o México</p>
            <% } %>
        </article>
    </main>

    <%- include('includes/footer') %>
    <script>
        document.getElementById("country").value = "<%= country %>"
    </script>
</body>

</html>