<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <%- include('includes/head') %>
</head>

<body style="background-color: #e6e6e6;">
    <!-- <div class="loader-page"></div> -->
    <%- include('includes/nav') %>

    <div class="container-fluid d-flex justify-content-between align-items-center bg-primary py-2">
        <a href="/cities/<%= country %>" class="btn btn-primary text-nowrap"><i class="bi bi-arrow-left"></i> Regresar</a>

        <div class="flex-fill px-3">
            <select class="form-select text-primary border-primary" aria-label="Seleccione una opción" autocomplete="off"
                name="country" id="country" onchange="specifyCountry(this.value)">
                <option value="">Seleccione un país</option>
                <%- include('includes/countrySelector') %>
            </select>
        </div>
    </div>
    <!-- <div class="pt-2 pb-3">
        <label class="form-label my-auto mx-0 px-3" for="country">Seleccione un país</label>
        <div class="px-3 w-100">
            <select class="form-select text-primary border-primary" aria-label="Seleccione una opción" name="country" id="country" onchange="specifyCountry(this.value)">
                <option value="">Seleccione una opción</option>
                <%- include('includes/countrySelector') %>
            </select>
        </div>
    </div> -->

    <div class="container-fluid px-2 px-md-5 py-3">
        <div class="text-center">
            <h1 class="display-3 text-primary">Consulado General de Venezuela</h1>
            <p class="lead fw-normal">
                <% if (data.length !== 0 && country !== "") {%>
                    <i class="bi bi-search text-primary"></i> Selecciona una opción <i class="bi bi-search text-primary"></i>
                <% }else if (data.length === 0 && country !== "") { %>
                    <i class="bi bi-exclamation-triangle text-primary"></i> No se encontraron consulados en el país seleccionado. <i class="bi bi-exclamation-triangle text-primary"></i>
                <% }else{ %>
                    <i class="bi bi-info-square text-primary"></i> Debe de seleccionar un país para poder ver los consulados disponible <i class="bi bi-info-square text-primary"></i>
                <% } %>
            </p>
        </div>

        <div class="row justify-content-center p-0 m-0">
            <% if (data.length !== 0) { for (const element of data[0].consulates) { %>
            <div class="col-12 col-md-6 col-lg-4 py-2">
                <div class="card h-100">
                    <div class="card-body ">
                        <div class="text-center"><i class="text-primary display-1 bi bi-bank2"></i></div>
                        <h5 class="card-title text-center h3"><%= element.city %></h5>
                        <ul>
                            <li><span class="text-primary fw-semibold">Dirección: </span>
                                <%= element.address %>
                            </li>
                            <li><span class="text-primary fw-semibold">Teléfono: </span>
                                <%= element.phone %>
                            </li>
                            <li><span class="text-primary fw-semibold">Correo: </span>
                                <%= element.email %>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <% }} %>
        </div>
    </div>

    <%- include('includes/footer') %>
    <script src="/js/loader.js"></script>
    <script>
        document.getElementById("country").value = "<%= country %>"
        function specifyCountry(val) {
            window.location.href = `/consulates/${val}`
        }
    </script>
</body>

</html>