<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <%- include('includes/head') %>
    <script src="/js/change.country.js"></script>
</head>

<body class="bg-body-secondary">
    <%- include('includes/nav') %>

    <main class="container-fluid px-2 px-md-5 py-3">
        <h1 class="text-center display-3 text-primary">¿Estás viviendo violencia de género?</h1>
        
    </main>

    <%- include('includes/footer') %>
    <%- include('includes/chatBtn') %>
    <%- include('includes/whatsappBtn') %>
</body>

</html>